<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-red-500 font-semibold text-xs">** <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
