<div class="h-1/4 w-full bg-primary border-t-2 border-slate-950 rounded-t-[5rem] rounded-b-3xl flex flex-col items-center justify-center">
  <%= image_tag("tsekmo_logo.png", alt: "tsek.mo_logo", class:"w-10 h-10 drop-shadow-xl") %>
  <h1 class="h-fit font-semibold text-sky-50">
    tsek.mo © 2024
  </h1>
</div>