<% if task.id.present? %>
  <h2>
    <%= task.task_item %>
  </h2>

  <%= puts "Task ID: #{task.id}" %>

  <%= link_to "Edit", edit_category_task_path(task.category_id, task.id) %>
  <%= link_to "Delete", [task.category, task], data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?"} %>

<% end %>