@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Nunito", sans-serif;
    @apply tracking-wider;
  }

  section {
    @apply text-xs;
  }
}

@layer components {
  .border {
    @apply border-2 border-pink-500 border-dotted;
  }
  .form__block {
    @apply w-full sm:w-1/6 h-full flex flex-col justify-between sm:justify-center items-center gap-4 py-4;
  }

  .form__header {
    @apply w-full text-[2rem] font-bold;
  }

  .actions {
    @apply w-full grid place-items-center px-4 py-2 rounded-3xl border-2 border-slate-950 font-bold hover:opacity-55 cursor-pointer;
  }

  .btn--main {
    @apply bg-accentV1 mt-4;
  }

  .btn--subv1 {
    @apply bg-accentV3;
  }

  .btn--subv2 {
    @apply bg-accentV2;
  }

  .field input, .field textarea {
    @apply border-2 border-slate-950 rounded-2xl w-full;
  }

  .field input[type="checkbox"] {
    @apply border-2 border-slate-950 rounded-md w-5 h-5;
  }

  .sharedlinks__bottom {
    @apply w-full flex flex-col gap-2 p-2 mt-4;
  }

  .grid--auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .overflow {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
    }
    
    &::-webkit-scrollbar-track {
      background: #FF8048;
      border-radius: 0.3rem;
      border: 1px solid #334155;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #00AFC7;
      border-radius: 0.3rem;
      border: 1px solid #334155;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #FCCB30;
    }
  }
}
