<div class="w-1/3 h-[90%] border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2">
  <div class="header--main border-b-2 border-slate-950">
    <h1>Edit Category</h1>
  </div> 

  <div class="form__block">
    <%= render partial: "category_form", locals: {category: @category} %>
  </div>

  <div class="h-1/4 w-full bg-primary border-t-2 border-slate-950 rounded-tr-[5rem] rounded-b-3xl">
    <!--dark blue bottom design-->
  </div>
</div>