<div class="w-full sm:w-1/2 lg:w-1/3 h-[90%] border-2 border-slate-950 rounded-3xl bg-sky-100 flex flex-col justify-between gap-2">
  <div class="header--main h-auto border-b-2 border-slate-950">
    <h1>New Category</h1>
  </div> 

  <div class="form__block">
    <%= render partial: "category_form", locals: {category: @category} %>
  </div>

  <%= render partial: "shared/form_footer" %>
</div>





