<h1>Category:
  <%= @category.category_name %>
</h1>

<%= render partial: "tasks/add_task_form" %>

<div>
  <h1 class="form__header">Tasks</h1>
  <% @tasks.each do |task| %>
    <% if task.id.present? && task.is_completed == false %>
      <%= render partial: "tasks/show_task", locals: { task: task } %> 
    <% end %>  
  <% end %>
  
  <% if @tasks.any?(&:is_completed) %>
    <p>Completed:</p>
  
    <% @tasks.each do |task| %>
      <% if task.id.present? && task.is_completed == true %>
        <%= render partial: "tasks/show_task", locals: { task: task } %>
      <% end %>
    <% end %>
  <% end %>
</div>