<h1>Category:
  <%= @category.category_name %>
</h1>

<%= render partial: "tasks/add_task_form" %>

<div>
  <h1 class="form__header">Tasks</h1>
  <%= render @category.tasks %>
  
  <p>Completed:</p>
  <% @tasks.each do |task| %>
    <div>
      <%= render partial: "tasks/completed", locals: { task: task } %>
    </div>
  <% end %> 
</div>