<h1>Category:
  <%= @category.category_name %>
</h1>

<%= render partial: "tasks/add_task_form" %>

<div>
  <h1 class="form__header">Tasks</h1>
  <%= render @category.tasks %>
  
  <% if @tasks.any?(&:is_completed) %>
    <p>Completed:</p>
  
    <% @tasks.each do |task| %>
      <%= render partial: "tasks/completed", locals: { task: task } %>
    <% end %>
  <% end %>
</div>